<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="data">
    <th scope="row">{{ data.id }}</th>
    <td>
      <img [src]="data.avatar" class="mr-2" style="width: 20px">
      {{data.first_name}} {{data.last_name}}
    </td>
    <td>{{data.email}}</td>
  </tr>
  </tbody>
</table>