﻿<!-- nav -->

<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
        <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>
   
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" *ngIf="currentUser">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Admin Dashboard
                    </a>
                </li>
                <li>
                    <a >Home</a>
                </li>
                
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <app-header *ngIf="currentUser"></app-header>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
             
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                            <router-outlet></router-outlet>                       
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->





