﻿<div class="card mt-4">
    <h4 class="card-header">Users List</h4>
    <div class="card-body">
       
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

                 <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Details</th>
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{ user.id }}</th>
              <td>
                <img [src]="user.avatar" class="mr-2" style="width: 20px">
                {{user.first_name}} {{user.last_name}}
              </td>
              <td>{{user.email}}</td>
              <td><a routerLink="user/{{user.id}}">Get Full Info</a></td>
            </tr>
            </tbody>
          </table>
                  
          
              <div class="card-footer pb-0 pt-3">
                  <ul *ngIf="pager.pages" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                          <a routerLink [queryParams]="{ page: 1 }" class="page-link">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                          <a routerLink [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
                      </li>
                
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                          <a routerLink [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.maxPages}" class="page-item last-item">
                          <a routerLink [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
                      </li>
                  </ul>
              </div>
      


    </div>
</div>